<!DOCTYPE html>
<html>
	<head>
		<title>Color Blindness Application</title>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,700,600,800' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<script src = "js/main.js"/>
	</head>

	<script>
		/*$(document).ready(function() {
			$("header").load("partials/header.html");
		});*/
	</script>

	<body>
		<header class = "font-large hcenter-wrapper"></header>
		<div id = "container">
			<div id = "container-text" class = "border-box">
				In order to interact with this website (as well as others), we have built a Chrome Extension supplement. The extension allows you to see any website via one of the three types of colorblindness. Unfortunately, we do not have a developers account, so in order to use the Extension, please follow the below instructions:
				
			</div>
		</div>
	</body>
</html>